body {
  font-family: "Lato";
  color: #424551;
  line-height: 160%;
  background: whitesmoke;
}
.title {
  background-image: linear-gradient(55.95deg, #ff403a38 0%, #f75e053b 100%);
}
.title__box {
  color: #1e212c;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
}
.page {
  max-width: 1230px;
  margin: 0 auto;
}
